@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "微軟正黑體";
}

img {
  vertical-align: center;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.p_small {
  font-size: 15px;
}

button {
  background: none;
  border: none;
  outline: none;
  font-family: '微軟正黑體';
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.btn_primary {
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #1b4d9f;
}

.btn_second {
  padding: 0;
  font-size: 18px;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #1b4d9f;
  background: #e8c300;
}

div.header {
  width: 100%;
  max-width: 1140px;
  height: 70px;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 15px;
}

div.header div.logo {
  width: 70px;
  height: 70px;
  margin-right: auto;
}

div.header div.logo a {
  width: 100%;
  display: inline-block;
}

div.header div.logo a img {
  width: 100%;
  vertical-align: center;
}

div.header div.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.header div.header_nav ul li {
  margin: 0 5px;
}

div.header div.header_nav ul li a {
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  color: #1b4d9f;
  font-weight: bold;
}

div.header div.header_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

div.header div.header_icon div.cart i {
  font-size: 20px;
  color: #1b4d9f;
  padding: 0 10px;
}

div.header div.header_icon div.member i {
  font-size: 20px;
  color: #1b4d9f;
  padding: 0 10px;
}

.container {
  border: 1px solid green;
}

.container .cus_list {
  border: 1px solid gray;
}

.container .cus_list .cus_cd {
  border: 1px solid gray;
}

div.course {
  padding-top: 50px;
  border: none;
}

div.course div.cus_list {
  border: none;
}

div.course div.cus_list ul li div.cus_card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

div.course div.cus_list ul li div.cus_card a div.card_img {
  width: 200px;
}

div.course div.cus_list ul li div.cus_card a div.card_img img {
  width: 100%;
}

div.course div.cus_list ul li div.cus_card a div.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

div.course div.cus_list ul li div.cus_card a div.card_content p {
  font-weight: bold;
}

div.course div.cus_list ul li div.cus_card a div.card_content div.card_content_scrb div.card_content_join span {
  font-size: 13px;
  padding: 0 5px;
}

div.course div.cus_list ul li div.cus_card a div.card_content div.card_content_scrb div.card_content_msg {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.course div.cus_list ul li div.cus_card a div.card_content div.card_content_scrb div.card_content_msg span.card_type {
  background: orange;
  border-radius: 5px;
  padding: 0 5px;
  line-height: 20px;
}

div.course div.cus_list ul li div.cus_card a div.card_content div.card_content_scrb div.card_content_msg span.card_time {
  margin-left: 10px;
  padding: 0 5px;
  line-height: 20px;
}

div.course div.cus_list ul li div.cus_card a div.card_content div.card_content_scrb div.card_content_msg span.card_price {
  margin-left: auto;
  font-size: 20px;
  font-weight: bold;
}

div.course div.cus_list div.cus_total_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 50px;
}

div.course div.cus_list div.cus_total_price span {
  display: inline-block;
  padding: 0 5px;
}

div.course div.cus_list div.cus_total_price span.total {
  font-size: 15px;
  margin-right: 10px;
}

div.course div.cus_list div.cus_total_price span.final_price {
  font-size: 26px;
  font-weight: bold;
  color: red;
}

div.course div.cus_list div.cus_total_price span.origin_price {
  font-size: 15px;
  text-decoration: line-through;
}

div.course div.cus_list div.cus_total_price span.discount {
  font-size: 15px;
}

div.course div.check_out div.check_out_contain {
  color: #fff;
  width: 80%;
  margin: 0 auto;
  background: rgba(123, 159, 180, 0.76);
  border-radius: 10px;
  padding: 0px 20px 30px;
}

div.course div.check_out div.check_out_contain div.check_out_title h3 {
  padding: 30px 0 40px;
}

div.course div.check_out div.check_out_contain div.credit_card {
  position: relative;
  -webkit-perspective: 1000;
          perspective: 1000;
}

div.course div.check_out div.check_out_contain div.credit_card div.flip {
  width: 100%;
  height: 200px;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_front {
  width: 300px;
  height: 200px;
  background: linear-gradient(135deg, #3c5e92, #1b2c4b);
  border-radius: 15px;
  position: absolute;
  color: #ccc;
  top: 0;
  right: -60px;
  text-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 5px 15px #486886;
          box-shadow: 0 5px 15px #486886;
  padding: 5px 15px;
  z-index: 2;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_front div.account_num {
  text-align: center;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_front div.account_num span {
  padding: 0 10px;
  font-size: 20px;
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_front div.owner_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_front div.credit_logo {
  width: 80px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_front div.credit_logo img {
  width: 100%;
}

div.course div.check_out div.check_out_contain div.credit_card div.flip div.card_back {
  width: 300px;
  height: 200px;
  background: linear-gradient(135deg, #3c5e92, #1b2c4b);
  border-radius: 15px;
  position: absolute;
  color: #ccc;
  top: 0;
  right: -60px;
  text-shadow: 0 1px 1px black;
  -webkit-box-shadow: 0 5px 15px #486886;
          box-shadow: 0 5px 15px #486886;
  padding: 5px 15px;
  background: orange;
}

div.course div.check_out div.check_out_contain div.form {
  border: 1px solid blue;
}
/*# sourceMappingURL=app_course_cart.css.map */