body {
  height: 100vh;
  min-height: 100vh;
  background-color: rosybrown;
}

header {
  width: 100%;
  height: 80px;
  background-color: cornflowerblue;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: calc(100% - 80px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: silver;
}

.mem_log_con_width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  min-width: 640px;
  background-color: darkgray;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mem_log_con_width .mem_log_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  min-width: 640px;
  height: 350px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: burlywood;
  border-radius: 30px;
  position: relative;
}

.mem_log_con_width .mem_log_content .common_set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mem_log_con_width .mem_log_content .common_set .com_set_area {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 30px;
  width: 100%;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mem_log_con_width .mem_log_content .mem_log_con_left {
  background-color: cadetblue;
  border-radius: 30px 0px 0px 30px;
}

.mem_log_con_width .mem_log_content .mem_log_con_right {
  background-color: lightcoral;
  border-radius: 0px 30px 30px 0px;
}

.mem_log_con_width .mem_log_content .mem_log_interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-width: 450px;
  min-width: 320px;
  height: 550px;
  background-color: lightgreen;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -100px;
  left: 0px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.mem_log_con_width .mem_log_content .mem_log_interface h1 {
  margin: 50px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mem_log_con_width .mem_log_content .mem_log_interface .sign_in_from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: maroon;
  position: absolute;
  top: 130px;
}

.mem_log_con_width .mem_log_content .mem_log_interface .sign_in_from div.input_div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  min-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.mem_log_con_width .mem_log_content .mem_log_interface .sign_in_from div.input_div label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mem_log_con_width .mem_log_content .mem_log_interface .sign_in_from div.input_div input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mem_log_con_width .mem_log_content .mem_log_interface .sign_in_from div.input_button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
}

.mem_log_con_width .mem_log_content .mem_log_interface .sign_in_from div.input_button button {
  margin: 0 auto;
}

.mem_log_con_width .mem_log_content .mem_log_interface .mem_sign_in-enter-active, .mem_log_con_width .mem_log_content .mem_log_interface .mem_sign_in-leave-active {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mem_log_con_width .mem_log_content .mem_log_interface .mem_sign_in-enter, .mem_log_con_width .mem_log_content .mem_log_interface .mem_sign_in-leave-to {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.mem_log_con_width .mem_log_content div.sign_in {
  left: 50%;
}

.mem_con_width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  max-width: 1200px;
  min-height: calc(100% - 130px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mem_con_width div.mem_list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: darkcyan;
  border-radius: 30px;
}

.mem_con_width div.mem_list ul {
  text-align: center;
}

.mem_con_width div.mem_list ul li {
  margin: 15px 0;
  cursor: pointer;
}

.mem_con_width div.mem_con_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100% - 130px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: darkgoldenrod;
  border-radius: 30px;
}

.mem_con_width div.mem_con_area .mem_con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mem_con_width div.mem_con_area .mem_con_title .btn_second {
  position: absolute;
  top: 5px;
  left: 10px;
}

.mem_con_width div.mem_con_area .mem_con_title h1 {
  margin: 0 auto;
}

.mem_con_width div.mem_con_area div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: khaki;
}

.mem_con_width div.mem_con_area div.container .mem_img_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: chartreuse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.mem_con_width div.mem_con_area div.container .mem_img_area .mem_img {
  margin: 20px auto 0;
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}

.mem_con_width div.mem_con_area div.container .mem_img_area .mem_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mem_con_width div.mem_con_area div.container .mem_img_area label {
  margin-top: 20px;
  cursor: pointer;
}

.mem_con_width div.mem_con_area div.container .mem_img_area input {
  display: none;
}

.mem_con_width div.mem_con_area div.container .mem_con_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: crimson;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mem_con_width div.mem_con_area div.container .mem_con_detail form.mem_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  background-color: indianred;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mem_con_width div.mem_con_area div.container .mem_con_detail form.mem_detail table, .mem_con_width div.mem_con_area div.container .mem_con_detail form.mem_detail tr {
  width: 100%;
}

.mem_con_width div.mem_con_area div.container .mem_con_detail form.mem_detail tr {
  height: 50px;
}

.mem_con_width div.mem_con_area div.container .mem_con_detail form.mem_detail td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.mem_con_width div.mem_con_area div.container .mem_con_detail form.mem_detail td input {
  width: 100%;
  height: 100%;
}

.mem_con_width div.mem_con_area div.container .col-sm-12 {
  padding: 0;
}

.mem_con_width div.mem_con_area div.container .mem_tit_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.mem_con_width div.mem_con_area div.container .mem_tit_area .mem_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 25px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mem_con_width div.mem_con_area div.container .mem_ana_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mem_con_width div.mem_con_area div.container .mem_ana_area .mem_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mem_con_width div.mem_con_area .btn_third {
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .mem_log_con_width {
    width: 320px;
    min-width: 320px;
  }
  .mem_log_con_width .mem_log_content {
    width: 320px;
    min-width: 320px;
  }
  .mem_log_con_width .mem_log_content .common_set {
    display: none;
  }
  .mem_log_con_width .mem_log_content div.sign_in {
    left: 0%;
  }
}
/*# sourceMappingURL=member_all.css.map */