* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes flip {
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    z-index: 1;
  }
}

@keyframes flip {
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    z-index: 1;
  }
}

@-webkit-keyframes remove {
  50% {
    top: -280px;
  }
  100% {
    top: 10px;
    z-index: 3;
  }
}

@keyframes remove {
  50% {
    top: -280px;
  }
  100% {
    top: 10px;
    z-index: 3;
  }
}

.post_intro {
  border: 1px solid black;
  margin-bottom: 80px;
}

.post_intro .post_ani {
  border: 1px solid blue;
}

.post_intro .post_ani .move {
  border: 1px solid red;
  margin: 0 auto;
}

.post_intro .post_ani .move .main_pic {
  border: 1px solid black;
}

.post_intro .post_ani .move .main_pic .envelope {
  width: 450px;
  height: 350px;
  margin: 280px auto 0;
  background: #c9c9c9;
  /* box-shadow:
        0 0 1px rgba(0, 0, 0, 0.5),
        0 1px 3px rgba(0, 0, 0, 0.25); */
  position: relative;
}

.post_intro .post_ani .move .main_pic .envelope .flap {
  position: absolute;
  width: 100%;
  height: 0;
  border: 0 solid transparent;
  border-width: 175px 225px;
  z-index: 3;
  /* border:1px solid black; */
}

.post_intro .post_ani .move .main_pic .envelope .front {
  border-left-color: #fdeded;
  border-right-color: #fffbe9;
  border-bottom-color: #e2e6ff;
  z-index: 3;
}

.post_intro .post_ani .move .main_pic .envelope .top {
  border-top-width: 175px;
  border-top-color: #ececec;
  z-index: 3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-origin-y: top;
  /* perspective: 800; */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: flip;
          animation-name: flip;
}

.post_intro .post_ani .move .main_pic .envelope .letter {
  position: absolute;
  width: 420px;
  height: 320px;
  background: transparent;
  top: 20px;
  left: 13px;
  z-index: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: remove;
          animation-name: remove;
}

.post_intro .post_ani .move .main_pic .envelope .letter img {
  /* width: 100%; */
  height: 100%;
}

.post_intro .post_ani .move .buttons {
  border: 1px solid #0b0be7;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 575px) {
  .envelope {
    width: 350px;
    height: 250px;
    margin: 280px auto 0;
  }
  .envelope .flap {
    z-index: 3;
    /* border:1px solid black; */
  }
  .envelope .letter {
    position: absolute;
    width: 390px;
    height: 290px;
  }
}
/*# sourceMappingURL=post_intro_text.css.map */