@mixin table {
  #{'table'} {
    border: 1px solid black;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid black;
    }
  }
}

* {
  box-sizing: border-box;

}

body {
  font-family: "微軟正黑體";
  // height: 100vh;
  // overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);

  .logo {
    width: auto;
    height: 60px;
    // border: 1px solid black;
    margin: 5px 15px;
    display: inline-block;


    a {
      display: inline-block;
      // border: 1px solid rgb(248, 56, 56);
      width: 100%;
      height: 100%;


      img {
        // border: 1px solid rgb(56, 123, 248);

        height: 100%;

      }
    }


  }

  .bg_ad2 {
    // border: 1px solid black;
    margin: 5px 15px;
    // display: inline-block;

    div {
      display: inline-block;
      // border: 1px solid red;
      margin-top: 6%;


      p.ad_name {
        cursor: default;
      }

      p {
        display: inline-block;
        margin-left: 20px;
        border: 1px solid blue;
        cursor: pointer;
        padding: 5px;

      }
    }



  }
}

.backstage {
  // border: 1px solid black;
  min-width: 100%;

  .row {

    .side {
      background-color: #424965;

      display: inline-block;
      height: calc(100vh - 70px);
      position: fixed;
      left: 0;
      max-width: 190px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .list {
        // border: 1px solid yellow;
        margin-top: 10%;

        .member_management {
          // border: 1px solid red;


          li.title {
            // border: 1px solid red;
            margin: 0 0 10px;
            font-size: 20px;
            cursor: default;
          }

          li {
            padding: 8px 0;
            margin-left: 18px;
            cursor: pointer;
          }
        }

        .management {
          // border: 1px solid red;
          margin-top: 10px;
          padding: 5px 0;

          li.title {
            // border: 1px solid red;
            margin: 0 0 10px;
            font-size: 20px;
            cursor: default;
          }

          li {
            padding: 8px 0;
            margin-left: 18px;
            cursor: pointer;

          }
        }
      }

      .copyright {
        // border: 1px solid yellow;
        margin-bottom: 10%;
        color: rgb(180, 180, 180);
        text-align: center;

        a {
          color: #3791c5;

        }
      }
    }


    .main {
      background-color: #F6F3ED;
      display: inline-block;
      position: fixed;
      right: 0;
      height: 100%;
      overflow-y: scroll;
      max-width: calc(100vw - 190px);

      // padding: 0;
      .account {
        @include table();
        // border-bottom: 1px solid blue;
        margin: 10px 0;

        p {
          display: inline-block;
        }
      }

      .administrator {
        @include table();
        // border-bottom: 1px solid blue;
        margin: 10px 0;

        p {
          display: inline-block;
        }
      }

      .quiz {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;

        img {
          width: 30%;
        }

        p {
          display: inline-block;
        }
      }

      .industry {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;

      }

      .skill_class {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;

      }

      .article_report {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;
      }

      .message_report {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;
      }

      .order_mem {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;
      }

      .postcard_material {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;
      }

      .announcement {
        @include table();
        border-bottom: 1px solid blue;
        margin: 10px 0;
      }
    }
  }
}