<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="nav-icon icon-speedometer"></i>安妮,你好

      </a>
    </li>
    <li class="nav-title">人員管理</li>
    <li class="nav-item">
      <a class="nav-link" href="colors.html">
        <i class="nav-icon icon-drop"></i> 會員管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="typography.html">
        <i class="nav-icon icon-pencil"></i>管理員管理</a>
    </li>
    <li class="nav-title">後台管理</li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-puzzle"></i>題庫管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="base/breadcrumb.html">
            <i class="nav-icon icon-puzzle"></i>實作型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/cards.html">
            <i class="nav-icon icon-puzzle"></i>研究型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/carousel.html">
            <i class="nav-icon icon-puzzle"></i>文藝型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/collapse.html">
            <i class="nav-icon icon-puzzle"></i>社會型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/forms.html">
            <i class="nav-icon icon-puzzle"></i>企業型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/jumbotron.html">
            <i class="nav-icon icon-puzzle"></i>事務型</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-cursor"></i>行業管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="buttons/buttons.html">
            <i class="nav-icon icon-cursor"></i>實作型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/button-group.html">
            <i class="nav-icon icon-cursor"></i>研究型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/dropdowns.html">
            <i class="nav-icon icon-cursor"></i>文藝型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="buttons/brand-buttons.html">
            <i class="nav-icon icon-cursor"></i>社會型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/forms.html">
            <i class="nav-icon icon-puzzle"></i>企業型</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="base/jumbotron.html">
            <i class="nav-icon icon-puzzle"></i>事務型</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="nav-icon icon-pie-chart"></i>課程管理</a>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-star"></i>文章檢舉管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="icons/coreui-icons.html">
            <i class="nav-icon icon-star"></i> CoreUI Icons
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/flags.html">
            <i class="nav-icon icon-star"></i> Flags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/font-awesome.html">
            <i class="nav-icon icon-star"></i> Font Awesome
            <span class="badge badge-secondary">4.7</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="icons/simple-line-icons.html">
            <i class="nav-icon icon-star"></i> Simple Line Icons</a>
        </li>
      </ul>
    </li>
    <li class="nav-item nav-dropdown">
      <a class="nav-link nav-dropdown-toggle" href="#">
        <i class="nav-icon icon-bell"></i>訂單管理</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="notifications/alerts.html">
            <i class="nav-icon icon-bell"></i> Alerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/badge.html">
            <i class="nav-icon icon-bell"></i> Badge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="notifications/modals.html">
            <i class="nav-icon icon-bell"></i> Modals</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="widgets.html">
        <i class="nav-icon icon-calculator"></i>明信片素材管理
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="widgets.html">
        <i class="nav-icon icon-calculator"></i>座談會管理
      </a>
    </li>


  </ul>
</nav>