<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行業</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts.js'></script>
    <script src="https://kit.fontawesome.com/d18b20bddd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/app_public.css">
    <link rel="stylesheet" href="./css/career_all.css">
</head>
<body>
    <div class="header_wrap" id = "header" v-if="(!rwdClickPage && screenWidth < 975) || (screenWidth >= 975)">
        <header class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="header_nav">
                <ul>
                    <li><a href="test_before.html">職涯分析</a></li>
                    <li><a href="#">行業攻略</a></li>
                    <li><a href="forum_discuss">職涯論壇</a></li>
                    <li><a href="course_main.html">探索課程</a></li>
                    <li><a href="post_intro.html">明信片</a></li>
                </ul>
            </div>
            <div class="header_icon">
                <div class="cart">
                    <a href="#"><i class="fas fa-shopping-cart"></i>
                        <div class="cart_num"><span>1</span></div>
                    </a>
                    <!-- <div class="cart_num"><span>1</span></div> -->
                </div>

                <div class="member"><a href="#"><i class="fas fa-user"></i></a></div>
            </div>
        </header>
    </div>
    <div class="side_cart cart_off">
        <div class="cart_close">
            <button id="cart_close" class="btn_third">close </button>
        </div>
        <div class="cart_course">
            <ul>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
            </ul>
        </div>

        <div class="check_out_contain">
            <div class="discount_title">
                <p>購買兩堂課程，即享有8折優惠!</p>
            </div>
            <div class="price_check">
                <ul>
                    <li>
                        <span>課程總金額:</span><span>$660</span>
                    </li>
                    <li>
                        <span>折扣金額:</span><span>$60</span>
                    </li>
                </ul>
            </div>
            <div class="price_total_btn">
                <div class="price_total">
                    <span>總計:$600</span>
                </div>
                <!-- <button class="check_out">結帳</button> -->
                <a href="course_orderlist.html" class="check_out">結帳</a>
            </div>
        </div>
    </div>
    <main class = "car_pro_con_width container" id = "car_pro_vue">
        <div class = "col-md-12 car_pro_title" v-if="(768 > screenWidth && isDouble)">
            <div class="col-sm-6 col-6 btn_third" v-for="(item, index) in sendData" @click="changeProfession(index)">
                {{industry[item.industryIndex].detail[item.typeIndex].name}}
            </div>
        </div>
        <div class = "car_pro_con" :class="{'col-lg-12':isDouble, 'col-lg-9':!isDouble, 'col-md-12':isDouble, 'col-md-9':!isDouble}">
            <div class="col-lg-6 col-md-6 car_pro_info" v-for="(item, index) in sendData" v-if="(item.typeIndex && screenWidth >= 768) || (768 > screenWidth && rwbChangeProfession == index)">
                <h1>{{industry[item.industryIndex].detail[item.typeIndex].name}}</h1>
                <img src="./img/career/工程師.svg" :style="{borderColor:industry[item.industryIndex].backgroundColor}">
            </div>
            <div class="col-lg-6 col-md-6 car_pro_info" v-for="(item, index) in sendData" v-if="(item.typeIndex && screenWidth >= 768) || (768 > screenWidth && rwbChangeProfession == index)">
                <h3>{{industry[item.industryIndex].typeName}}</h3>
                <h3 class="car_pro_info_title">職業介紹</h3>
                <p>{{industry[item.industryIndex].detail[item.typeIndex].info}}</p>
            </div>
            <div class="car_pro_info" :class="{'col-lg-6':isDouble, 'col-lg-9':!isDouble, 'col-md-6':isDouble, 'col-md-12':!isDouble, 'car_pro_single':!isDouble}" v-for="(item, index) in chooeseProfession" v-if="(item.content && screenWidth >= 768) || (768 > screenWidth && rwbChangeProfession == index)">
                <h3 class="car_pro_info_title">職業內容</h3>
                <ul>
                    <li v-for="(liItem, liIndex) in item.content">{{liItem}}</li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-12 car_pro_info car_pro_skill">
                <div class="col-md-12 car_pro_skill_area" v-for="(item, index) in sendData" v-if="(item.typeIndex && screenWidth >= 768) || (768 > screenWidth && rwbChangeProfession == index)">
                    <h3 class="col-md-12 car_pro_info_title">相關技能 - {{industry[item.industryIndex].detail[item.typeIndex].name}}</h3>
                    <span class="col-md-4 col-sm-4 col-4"v-for="(skillItem, skillIndex) in chooeseProfession[index].skill" :style="{backgroundColor:industry[item.industryIndex].backgroundColor}">{{skillItem}}</span>
                </div>
            </div>
            <div class = "col-lg-9 col-md-12 car_pro_lhs_plot_area">
                <h3 class="col-lg-12 col-md-12">最高最低薪資區間</h3>
                <div class = "col-lg-12 col-md-12 car_pro_lhs_plot"></div>
            </div>
            <div class = "col-lg-9 col-md-12 car_pro_lhs_plot_area">
                <h3 class="col-lg-12 col-md-12">平均薪資漲幅</h3>
                <!-- <div class = "col-lg-12 col-md-12 car_pro_lhs_plot"></div> -->
            </div>
        </div>
    </main>
    <script type="text/javascript" src="./js/career/career_profession.js"></script>
</body>
</html>