<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行業攻略</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/echarts/4.8.0/echarts.js'></script>
    <script src="https://kit.fontawesome.com/d18b20bddd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/app_public.css">
    <link rel="stylesheet" href="./css/career_all.css">
</head>
<body class="car_body">
    <div class="header_wrap" id = "header" v-if="(!rwdClickPage && screenWidth < 975) || (screenWidth >= 975)">
        <header class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="header_nav">
                <ul>
                    <li><a href="test_before.html">職涯分析</a></li>
                    <li><a href="#">行業攻略</a></li>
                    <li><a href="forum_discuss">職涯論壇</a></li>
                    <li><a href="course_main.html">探索課程</a></li>
                    <li><a href="post_intro.html">明信片</a></li>
                </ul>
            </div>
            <div class="header_icon">
                <div class="cart">
                    <a href="#"><i class="fas fa-shopping-cart"></i>
                        <div class="cart_num"><span>1</span></div>
                    </a>
                    <!-- <div class="cart_num"><span>1</span></div> -->
                </div>

                <div class="member"><a href="#"><i class="fas fa-user"></i></a></div>
            </div>
        </header>
    </div>
    <div class="side_cart cart_off">
        <div class="cart_close">
            <button id="cart_close" class="btn_third">close </button>
        </div>
        <div class="cart_course">
            <ul>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
            </ul>
        </div>

        <div class="check_out_contain">
            <div class="discount_title">
                <p>購買兩堂課程，即享有8折優惠!</p>
            </div>
            <div class="price_check">
                <ul>
                    <li>
                        <span>課程總金額:</span><span>$660</span>
                    </li>
                    <li>
                        <span>折扣金額:</span><span>$60</span>
                    </li>
                </ul>
            </div>
            <div class="price_total_btn">
                <div class="price_total">
                    <span>總計:$600</span>
                </div>
                <!-- <button class="check_out">結帳</button> -->
                <a href="course_orderlist.html" class="check_out">結帳</a>
            </div>
        </div>
    </div>
    <main class = "car_con_width container" id = "car_vue">
        <div class = "col-lg-12 col-md-12 col-sm-12 col-12 car_title">
            <div class = "col-lg-2" v-if="screenWidth > 992"></div>
            <span class = "col-lg-4 col-md-5 col-sm-12 col-12">請選1~2個行業，最多選兩個行業做比對</span>
            <div class = "col-lg-3 col-md-4 col-sm-12 col-12">
                <div class = "choose_industry" v-for="(item, index) in sendDataTemp" v-if="item.name.length > 0">
                    <i class="far fa-times-circle" @click="removeData(index)"></i>
                    <span>{{item.name}}</span>
                </div>
            </div>
            <button class = "btn_second" v-if="sendData" @click="viewPro">確認</button>
        </div>
        <div class = "col-lg-12 col-md-12 car_con_area_all">
            <div class = "col-lg-8 col-md-12 car_con_area">
                <div class = "col-lg-3 col-md-12 col-sm-12 col-12 car_con_list">
                    <ul>
                        <li v-if="992 > screenWidth" @click="changePlot">薪水排行</li>
                        <li v-for="(item, index) in industry" @click="changeContent(index, item.backgroundColor)" :class = "item.class"><span></span>{{item.typeName}}</li>
                    </ul>
                    <div class="side_bar_img" v-if="screenWidth >= 992">
                        <img class="side_bar_img_use" src="./img/side_bar.svg" alt="">
                    </div>
                </div>
                <div class = "col-lg-9 col-md-12 col-sm-12 col-12 car_con_pro" v-if="chooseIndustry >= 0">
                    <div class = "col-md-5 col-sm-5 col-6 car_con_pro_info" v-for="(itemDetail, index) in industry[chooseIndustry].detail" @click="storeData(chooseIndustry, index)">
                        <img :src="itemDetail.src"/>
                        <span>{{itemDetail.name}}</span>
                        <div class = "car_con_pro_check">
                            <i class="far fa-check-circle" v-if="itemDetail.isCheck"></i>
                            <i class="far fa-times-circle" v-if="!itemDetail.isCheck"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4 col-md-12 col-sm-11 col-11 car_con_plot_area" :class="{showPlot: showPlotControl}">
                <h3>工作三到五年薪水排行</h3>
                <div class = "car_con_plot"></div>
                <div class="side_bar_img" v-if="screenWidth >= 992">
                    <img class="side_bar_img_use" src="./img/career/career_right_people.svg" alt="">
                </div>
            </div>
            <div class = "col-lg-9 col-md-12 car_con_area car_course_area" v-if="chooseIndustry >= 0">
                <h3>相關課程</h3>
                <div class = "col-md-12 car_course_list">
                    <div class = "col-md-5 col-sm-5 col-6 car_course_list_info" v-for="(item, index) in industryCourse[chooseIndustry].detail">
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <button class = "btn_primary">查看相關課程</button>
            </div>
            <div class = "col-lg-9 col-md-12 car_con_area car_forum_area" v-if="chooseIndustry >= 0">
                <h3>相關論壇文章</h3>
                <div class = "col-md-12 car_course_list">
                    <div class = "col-md-12 col-sm-12 col-12 car_forum_list_info" v-for="(item, index) in industryForum[chooseIndustry].detail">
                        <span>{{item.name}}</span>
                    </div>
                </div>
                <button class = "btn_primary">查看相關討論</button>
            </div>
        </div>
    </main>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script type="text/javascript" src="./js/career/career.js"></script>
    <script src="./js/header.js"></script>
</body>
</html>