<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>forum_discuss</title>
  <link rel="stylesheet" href="./bootstrap/bootstrap-grid.min.css">
  <link rel="stylesheet" href="./css/app_public.css">
  <link rel="stylesheet" href="./css/forum.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/d18b20bddd.js"></script>
  <script src="./js/forum/forum_discuss.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

</head>

<body>
  <div id="forum_discuss" class="container-fluid">
    <div class="header row">
      <div class="header_wrap">
        <header class="header">
          <div class="logo">
            <a href="index.html">
              <img src="img/logo.svg" alt="">
            </a>
          </div>
          <div class="header_nav">
            <ul>
              <li><a href="test_before.html">職涯分析</a></li>
              <li><a href="#">行業攻略</a></li>
              <li><a href="forum_discuss">職涯論壇</a></li>
              <li><a href="course_main.html">探索課程</a></li>
              <li><a href="post_intro.html">明信片</a></li>
            </ul>
          </div>
          <div class="header_icon">
            <div class="cart">
              <a href="#"><i class="fas fa-shopping-cart"></i>
                <div class="cart_num"><span>1</span></div>
              </a>
              <!-- <div class="cart_num"><span>1</span></div> -->
            </div>

            <div class="member"><a href="#"><i class="fas fa-user"></i></a></div>
          </div>
        </header>

      </div>
    </div>

    <!--搜尋框-->
    <div class="search row">
      <div class="col-lg-2"></div>
      <div class="search_wrap">
        <div class="search_wrap_line">
          <i class="fas fa-search"></i>
          <input type="search" placeholder="請輸入關鍵字" id="text_input">
          <button id="search_btn">搜尋</button>
        </div>
      </div>
    </div>

    <div class="dis_body row">
      <!--右邊類型分類-->
      <div class="career col-lg-2">
        <ul class="career_name">
          <li>
            <img class="Travel-icon" src="./img/forum/icons8-牛-64.png">實作型(R)
          </li>
          <li>
            <img class=" Travel-icon" src="./img//forum//icons8-海豚-64.png">研究型(I)
          </li>
          <li>
            <img class="Travel-icon" src="./img/forum/icons8-孔雀-64.png">文藝型(A)
          </li>
          <li>
            <img class="Travel-icon" src="./img/forum/icons8-象-64.png">社會型(S)
          </li>
          <li>
            <img class="Travel-icon" src="./img/forum/icons8-大耳猴-64.png">企業型(E)
          </li>
          <li>
            <img class="Travel-icon" src="./img/forum/icons8-pidgey-64.png">事務型(C)
          </li>
        </ul>
      </div>

      <!--瀏覽留言區-->
      <!--第一個頁籤-->
      <div class="tab_container">
        <div class="tab_list_block">
          <ul class="tab_list">
            <li><a href="#" data-target="tab1" class="tab -on">綜合</a></li>
            <li><a href="#" data-target="tab2" class="tab">熱門討論</a></li>
          </ul>
        </div>

        <div class="tab_contents">
          <!--第一個頁籤 經驗分享-->
          <div class="tab tab1 -on">
            <div class="msg_content" v-for="content_Array in msgArray1">
              <div class="mem_info">
                <div class="info_list">
                  <img :src="content_Array.d_img" alt="">
                  <div class="dis_name">{{content_Array .d_name}}</div>
                  <div class="dis_date">{{content_Array .d_data}}</div>
                </div>
                <div class="tags_list">
                  <span class="type_tag">{{content_Array .d_type}}</span>
                  <span class="type_tag">{{content_Array .d_qu}}</span>
                </div>
              </div>
              <div class="msg_title">
                {{content_Array.d_title}}
              </div>
              <div class="msg_textarea">
                {{content_Array .d_text}}
              </div>
              <div class="msg_btn">
                <button><i class="far fa-heart"></i></button>
                <button><i class="far fa-comment-alt"></i>5</button>
                <button class="collect_btn">收藏</button>
                <button class="impeachment_btn">檢舉</button>
              </div>
            </div>
          </div>

          <!--第二個頁籤 問題討論-->
          <div class="tab tab2">
            <div class="msg_content" v-for="content_Array2 in msgArray2">
              <div class="mem_info">
                <div class="info_list">
                  <img :src="content_Array2.d2_img" alt="" class="dis_img">
                  <div class="dis_name">{{content_Array2.d2_name}}</div>
                  <div class="dis_date">{{content_Array2.d2_data}}</div>
                </div>
                <div class="tags_list">
                  <span class="type_tag">{{content_Array2.d2_type}}</span>
                  <span class="type_tag">{{content_Array2.d2_qu}}</span>
                </div>
              </div>
              <div class="msg_title">
                <span class="open_dialog" id="">{{content_Array2.d2_title}}</span>
              </div>
              <div class="msg_textarea">
                {{content_Array2.d2_text}}
              </div>
              <div class="msg_btn">
                <button><i class="far fa-heart"></i></button>
                <button><i class="far fa-comment-alt"></i>5</button>
                <button class="collect_btn">收藏</button>
                <button class="impeachment_btn">檢舉</button>
              </div>
            </div>



          </div>
        </div>

        <!--頁碼-->
        <div class="pagination_block">
          <ul class="pagination">
            <li><a href="#">&lt;</a></li>
            <li><a href="#" class="-on">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>

    <a href="./fourm_form.html" class="pencil_btn">
      <i class="fas fa-edit"></i>
    </a>
  </div>




  <!--燈箱！！！-->
  <!--點擊標題跳出的燈箱-->
  <div class=" forum_overlay">
    <div class="forum_checkMsg">
      <div class="close_btn">
        <button type="button" class="btn_modal_close">關閉</button>
      </div>
      <div class="forum_topic">
        <!--留言板內容-->
        <div class="msg_content">
          <ul class="mem_info">
            <li><img src="./img/forum/ex.jpg" alt="" class="dis_img"></li>
            <li class="dis_name">王小明</li>
            <li class="dis_date">2020-07-28</li>
          </ul>
          <div class="msg_title">
            有人上過前端工程師學米私塾課嗎？
          </div>
          <div class="msg_textarea">
            覺得課程整套實在有點貴，
            而且業務死不讓我看學生作品，讓我覺得很詭異
            有人買過嗎？學起來如何呢？求經驗分享～
          </div>
          <div class="msg_btn">
            <button><i class="far fa-heart"></i></button>
            <button><i class="far fa-comment-alt"></i></button>
            <button class="collect_btn">收藏</button>
            <button class="impeachment_btn">檢舉</button>
          </div>
        </div>
      </div>
      <div class="feedback_count">共5則回應</div>
      <!--回應留言區-->
      <div class="forum_feedback">
        <div class="msg_content">
          <ul class="mem_info">
            <li><img src="./img/forum/ex.jpg" alt="" class=" dis_img"></li>
            <li class="dis_name">王小美</li>
            <li class="dis_date">2020-10-28</li>
          </ul>
          <div class="msg_textarea">
            我去上過覺得還好
          </div>
          <div class="msg_btn">
            <button><i class="far fa-heart"></i></button>
            <button class="impeachment_btn">檢舉</button>
          </div>
        </div>
        <div class="msg_content">
          <ul class="mem_info">
            <li><img src="./img/forum/ex.jpg" alt="" class=" dis_img"></li>
            <li class="dis_name">王小美</li>
            <li class="dis_date">2020-10-28</li>
          </ul>
          <div class="msg_textarea">
            我去上過覺得還好
          </div>
          <div class="msg_btn">
            <button><i class="far fa-heart"></i></button>
            <button class="impeachment_btn">檢舉</button>
          </div>
        </div>
        <div class="msg_content">
          <ul class="mem_info">
            <li><img src="./img/forum/ex.jpg" alt="" class=" dis_img"></li>
            <li class="dis_name">李小花</li>
            <li class="dis_date">2020-10-28</li>
          </ul>
          <div class="msg_textarea">
            我去上過覺得還好
          </div>
          <div class="msg_btn">
            <button><i class="far fa-heart"></i></button>
            <button class="impeachment_btn">檢舉</button>
          </div>
        </div>
      </div>
      <div class="leave_msg">
        <textarea name="" id="send_msg" placeholder="送出..."></textarea>
      </div>
      <div class="confirm_send_btn">
        <input type="submit" value="送出" id="send_msg_btn">
      </div>
    </div>
  </div>

  <!--點擊檢舉跳出燈箱-->
  <div class="impeachment_overlay">
    <article>
      <div class="accuse_close_btn">
        <button type="button" class="impeachment_close_btn">關閉</button>
      </div>
      <h3>檢舉這篇文章的原因？</h3>

      <div class="accuse_wrap">
        <p><input type="radio" name="accuse" id=""> 重傷、歧視、挑釁、謾罵他人</p>
        <p><input type="radio" name="accuse" id=""> 交換個人資料</p>
        <p><input type="radio" name="accuse" id=""> 惡意洗版、重複張貼</p>
        <p><input type="radio" name="accuse" id=""> 包含色情、露點、性騷擾之內容</p>
        <p><input type="radio" name="accuse" id=""> 包含廣告、商業宣傳之內容</p>
        <p><input type="radio" name="accuse" id=""> 其他原因</p>
      </div>
    </article>
  </div>


  <script>
    new Vue({
      el: "#forum_discuss",
      data() {
        return {
          msgArray1: [{
            d_img: './img/forum/大頭照/headshot_1.jpg',
            d_name: '黃小美',
            d_data: '2020-01-20',
            d_type: '研究型',
            d_qu: '問題討論',
            d_color: 'orange',
            d_title: '有人上過資策會的web前端app嗎？',
            d_text: '想轉職成為工程師，在網路上看到資訊，請問有人可以有經驗可以分享嗎？',
          }, {
            d_img: './img/forum/大頭照/headshot_2.jpg',
            d_name: '王阿花',
            d_data: '2019-03-20',
            d_type: '企業型',
            d_qu: '問題討論',
            d_color: 'orange',
            d_title: '法物人員工作內容是什麼？',
            d_text: '最近想要考法物人員，但是不知道該如何準備，有前輩可以分享嗎？',
          }, {
            d_img: './img/forum/大頭照/headshot_3.jpg',
            d_name: '王小豬',
            d_data: '2019-05-03',
            d_type: '企業型',
            d_qu: '問題討論',
            d_color: 'orange',
            d_title: '保險業務一個月會有多少收入？',
            d_text: '聽朋友說他一個月有十萬元，請問保險業真的收入這麼高嗎？',
          }, {
            d_img: './img/forum/大頭照/headshot_4.jpg',
            d_name: '歐陽同學',
            d_data: '2019-12-03',
            d_type: '文藝型',
            d_qu: '問題討論',
            d_color: 'orange',
            d_title: '攝影師接一個case怎麼算？',
            d_text: '最近朋友說要請我幫忙拍婚紗照，5000元一天，請問這是合理的價格嗎？',
          }, {
            d_img: './img/forum/大頭照/headshot_5.jpg',
            d_name: 'Annie',
            d_data: '2019-07-07',
            d_type: '事務型',
            d_qu: '問題討論',
            d_color: 'orange',
            d_title: '請問五年的貿易經驗，薪資可以談多少？',
            d_text: '最近收到兩個面試通知，但是不確定薪水是否符合自己的情況，請問有前輩可以分享嗎？',
          }],

          msgArray2: [{
            d2_img: './img/forum/大頭照/headshot_7.jpg',
            d2_name: '葉大雄',
            d2_data: '2020-01-20',
            d2_type: '研究型',
            d2_qu: '問題討論',
            d2_color: 'orange',
            d2_title: '有人上過資策會的web前端app嗎？',
            d2_text: '想轉職成為工程師，在網路上看到資訊，請問有人可以有經驗可以分享嗎？',
          }, {
            d2_img: './img/forum/大頭照/headshot_8.jpg',
            d2_name: '王阿花',
            d2_data: '2019-04-30',
            d2_type: '企業型',
            d2_qu: '問題討論',
            d2_color: 'orange',
            d2_title: '法物人員工作內容是什麼？',
            d2_text: '最近想要考法物人員，但是不知道該如何準備，有前輩可以分享嗎？',
          }, {
            d2_img: './img/forum/大頭照/headshot_9.jpg',
            d2_name: '王小豬',
            d2_data: '2020-02-02',
            d2_type: '企業型',
            d2_qu: '問題討論',
            d2_color: 'orange',
            d2_title: '保險業務一個月會有多少收入？',
            d2_text: '聽朋友說他一個月有十萬元，請問保險業真的收入這麼高嗎？',
          }, {
            d2_img: './img/forum/大頭照/headshot_1.jpg',
            d2_name: '歐陽同學',
            d2_data: '2020-10-05',
            d2_type: '文藝型',
            d2_qu: '問題討論',
            d2_color: 'orange',
            d2_title: '攝影師接一個case怎麼算？',
            d2_text: '最近朋友說要請我幫忙拍婚紗照，5000元一天，請問這是合理的價格嗎？',
          }, {
            d2_img: './img/forum/大頭照/headshot_6.jpg',
            d2_name: 'Annie',
            d2_data: '2020-07-03',
            d2_type: '事務型',
            d2_qu: '問題討論',
            d2_color: 'orange',
            d2_title: '請問五年的貿易經驗，薪資可以談多少？',
            d2_text: '最近收到兩個面試通知，但是不確定薪水是否符合自己的情況，請問有前輩可以分享嗎？',
          }],

        }

      }
    });
  </script>

</body>

</html>