<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職引960</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css">
    <!-- 套件 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


<!-- 基本盤 -->
<link rel="stylesheet" href="./bootstrap/bootstrap-grid.min.css">
<link rel="stylesheet" href="./css/app_public.css">
    <link rel="stylesheet" href="./css/pages_scss/index/index.css">

</head>

<body>
    <!-- header -->
        <!-- header -->
    <div class="header_wrap">
        <header class="header">
            <div class="hamburger">
                <button class=" hamburger hamburger--spring btn_switch" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="logo">
                <a href="index.html">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="header_nav">
                <ul>
                    <li><a href="test_before.html">職涯分析</a></li>
                    <li><a href="career_Travel Strategy.html">行業攻略</a></li>
                    <li><a href="forum_discuss.html">職涯論壇</a></li>
                    <li><a href="course_main.html">探索課程</a></li>
                    <li><a href="post_intro.html">明信片</a></li>
                </ul>

            </div>
            <div class="header_icon">
                <div class="cart">
                    <a href="#"><i class="fas fa-shopping-cart"></i>
                        <div class="cart_num"><span>1</span></div>
                    </a>
                    <!-- <div class="cart_num"><span>1</span></div> -->
                </div>

                <div class="member"><a href="#"><i class="fas fa-user"></i></a></div>
            </div>
        </header>

    </div>

    <!-- cart -->
    <div class="side_cart cart_off">
        <div class="cart_close">
            <button id="cart_close" class="btn_third">close </button>
        </div>
        <div class="cart_course">
            <ul>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
                <li class="cart_item">
                    <div class="cus_card">
                        <a href="#">
                            <div class="card_img">
                                <img src="img/course/課程圖片.jpg" alt="">
                            </div>
                            <div class="card_content">
                                <p>九個步驟快速提昇你的簡報力、溝通力</p>
                                <div class="card_content_scrb">
                                    <!-- <div class="card_content_join">
                                        <i class="fas fa-user-friends"></i><span>6124人已參與此課程</span>
                                    </div> -->
                                    <div class="card_content_msg">
                                        <span class="card_type">企業型</span>
                                        <!-- <span class="card_time">總計3小時</span> -->
                                        <span class="card_price">NT$660</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="remove">
                            <button>
                                <p>刪</p>
                                <p>除</p>
                            </button>
                        </div>

                    </div>

                </li>
            </ul>
        </div>

        <div class="check_out_contain">
            <div class="discount_title">
                <p>購買兩堂課程，即享有8折優惠!</p>
            </div>
            <div class="price_check">
                <ul>
                    <li>
                        <span>課程總金額:</span><span>$660</span>
                    </li>
                    <li>
                        <span>折扣金額:</span><span>$60</span>
                    </li>
                </ul>
            </div>
            <div class="price_total_btn">
                <div class="price_total">
                    <span>總計:$600</span>
                </div>
                <!-- <button class="check_out">結帳</button> -->
                <a href="course_orderlist.html" class="check_out">結帳</a>
            </div>
        </div>
    </div>


    <main class="index fullpage">
        <section class="index_test active">
            <div class="firstScreen container">
                <div class="index_test_text col-5">
                    <h1>職涯分析</h1>
                    <p>不考慮科系單純地透過職能和興趣來釐清自己未來職涯，和求職方向通過全面的診斷可以清楚地看出其優勢，從專業職能測驗來評估最適任的職務，做為未來規劃的參考！！</p>
                    <a href="#" class="btn_primary">職涯分析</a>
                </div>
                <div class="index_test_img col-7">
                    <div class="img">
                        <span class="holland_small">
                            <!-- Small Shapes -->
                            <a href="" class="small circle one"><p>實作型(R)</p></a>
                            <a href="" class="small squire two"><p>研究型(I)</p></a>
                            <a href="" class="small circle three"><p>文藝型(A)</p></a>
                            <a href="" class="small squire four"><p>社會型(S)</p></a>
                            <a href="" class="small circle five"><p>企業型(E)</p></a>
                            <a href="" class="small squire six"><p>事務型(C)</p></a>
                        </span>
                        <div class="large squire two">
                            <div class="content">
                                <img src="./img/index/index_1st/radar copy.png" alt="">
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>
        </section>
        <section class="index_car" >
            <div class="secondScreen container">
                <div class="index_sal_img col-md-6 col-sm-12">
                    <img src="./img/index/index_2nd/auditor.png" class="auditor" alt="">
                    <img src="./img/index/index_2nd/teacher.png" class="teacher" alt="">
                    <img src="./img/index/index_2nd/doctor.png" class="doctor" alt="">
                    <div class="stage">
                        <img src="./img/index/index_2nd/stage_block.png" class="firstStage" alt="">
                        <img src="./img/index/index_2nd/stage_block_2.png" class="secondStage" alt="">
                        <img src="./img/index/index_2nd/stage_block_3.png" class="thirdStage" alt="">
                    </div>

                </div>
                <div class="index_sal_chart col-md-6 col-sm-12">
                    <h1>TOP 3 行業薪資排行</h1>
                    <div class="chart">
                        <div class="horizontal-bar-graph" id="graph"></div>
                    </div>
                    <a href="#" class="btn_second">探索更多行業</a>
                </div>
            </div>
        </section>
        <section class="index_disc">
            <div class="thirdScreen container">
                <div class="index_disc_text col-md-6 col-sm-12 col-xs-12">
                    <h1>熱門行業話題</h1>
                    <div class="index_dia">
                        <div class="message">
                            <div class="meg_box" v-for="item in messages">
                                <a href="">
                                    <h5>{{item.title}}</h5>
                                    <i class="fa fa-thumbs-up" aria-hidden="true">100</i>
                                    <i class="fa fa-comments" aria-hidden="true">50</i>
                                    <hr>
                                    <p>{{item.date}}</p>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="btn_second">探索更多文章</a href="#">
                    </div>
                </div>
                <div class="index_disc_img col-md-6 col-sm-0 col-xs-0">
                    <div class="img">
                        <img class="dia_img" src="./img/index/index_3rd/mixed.png" alt="" srcset="">
                    </div>
                </div>
            </div>

        </section>
        <section class="index_cour" >
            <div class="forthScreen container">
                <div class="index_cour_img col-md-5 col-sm-0 col-xs-0">
                    <img class="stair" src="./img/index/index_4th/upStair.png" alt="" srcset="">
                </div>
                <div class="index_cour_text col-md-7 col-sm-12 col-xs-12">
                    <h1>熱門課程</h1>
                    <div class="pad">
                        <div class="screen_bg">
                            <div class="screen">
                                <div class="screen_carousel">
                                    <div class="item" v-for="course in courses" id="indexCoures">
                                        <img src="./img/index/index_4th/課程照片-翻轉課堂的職業講師祕訣.jpg" alt="">
                                        <h3>{{course.title}}</h3>
                                        <p>課程時數: {{course.time}}</p>
                                        <p>目前報名人數: {{course.person}}</p>
                                        <p>課程費用: {{course.cost}}</p>
                                    </div>
                                </div>
                                <a href="" class="btn_second"><span></span>探索更多課程<span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="screen_bt"></div>
                </div>
            </div>
        </section>
        <section class="index_card" >
            <div class="fifthScreen container">
                <div class="index_card_img col-12">
                    <div class="img">
                        <h1>客製明信片</h1>
                        <div id="line"></div>
                        <div id="cards" class="container"> 
                            <cards></cards>
                            <cards></cards>
                            <cards></cards>
                        </div>
                        <!-- <img class="post_front" src="./img/index/index_5th/post_front.png" alt="">
                        <img class="post_back" src="./img/index/index_5th/post_forward.png" alt=""> -->
                    </div>
                </div>
                <div class="index_card_text col-12">
                    <p class="postText">在進入職場之前，把對自我的期許，寄給未來的自己吧～</p>
                    <a href="#" class="btn_second">客製明信片</a>
                </div>
            </div>
            <!-- <p class="footer">&copy2020 Powered by direction.ALL Right Reserved.</p> -->
        </section>
    </main>
    <!-- 基本盤 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/d18b20bddd.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="./js/header.js"></script>
<!-- 套件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>



<!-- <script src="./js/"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/vendors/easings.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="./js/index/index.js"></script>
</body>

</html>