
div.before_test_wrap{
    // background-image: url(../../../img/test/bg_test.png);
    // border: 1px solid red;
    background-image: url(../../../img/test/bg_test.png);
    margin: auto;
        section.origin_of_types_before_test{
            border: 1px solid rgb(0, 215, 223);
            background: rgba(255, 255, 255, 0.3) ;
            width: 900px;
            margin: auto;
            border-radius: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            border-radius: 25px;
            h3{
                font-weight: 600;
                padding-bottom: 2%;
            }
            p{
                line-height: 30px;
                letter-spacing: 1px;
                // width: 100%;
            }
        }
        .wrap_of_btn_before_test{
            // border: 1px solid fuchsia;
            display: flex;
            justify-content: center;
            padding: 2%;
        }
}

main.main_before_test{
    // width: 1200px;
    margin: auto;
    // background: #FFE56D;
        .all_type_card_before_test{
        //    border: 1px solid navy;
           width: 100%;
           max-width:  1200px;
        //    margin-top: 50px;
           display: flex;
           justify-content: space-evenly;
           flex-direction: row;
           padding: 5% 0px;
        //    background: #F6F3ED;
           .type_card{
               border: 2px solid #FFE56D;
               width: 150px;
               height: 600px;
               border-radius: 5px;
               padding: 1%;
               background: white;
               box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 12px;
               display: flex;
               flex-direction: column;
               transition:  ease-in-out 1s;
               animation: blink;
               animation-iteration-count: infinite;
               animation-duration: 3s;
               .icon{
                //    border: 1px solid red;
                   width: 50px;
                   height: 50px;
                   border-radius: 50%;
                   margin-top:10px;
               }
               .img_bx{
                height: 500px;
               }

               .type_card_content{
                //    border: 1px solid firebrick;
                   display: flex;
                   flex-direction: row;
                   width: 100%;
                   overflow: hidden;
                   height: 500px;
                   p.type_txt{
                    //    border: 1px solid fuchsia;
                    width: 200px;
                    justify-content: center;
                    align-items: center;
                    line-height: 25px;
                    margin-left:10px ;
                    display: none;
                    transition: linear 1s;
                   }
               }
               .title_bx{
                //    border: 1px solid black;
                   display: flex;
                //    justify-content: center;
                flex-direction: column;
                align-items: center;
               }
           }
        }
    

        // 動畫
        @keyframes blink {
         
            0%{
                border: 2px solid #FFE56D;
            }
            
            100%{
                border: 2px solid #7ED3E0;
            
        }
    }
    
        //

        .type_card.active{
            width: auto;
        };
        
        .type_card.unactive{
            width: 100px;
            overflow: hidden;
        }
    }