main.main_during_test{
    // border: 1px solid red;
    max-width: 900px;
    margin: auto;
    background-color: #F6F3ED;
    border-radius: 25px;
    overflow: hidden;

        .question_bx{
            // border: 1px solid blue;
            background: #7ED3E0;
            padding: 1%;
            display: flex;
            justify-content: center;
            flex-direction:column ;
            align-items: center;
                h3{
                    padding: 2% 0;
                    font-weight: 600;
                }
            
        }   
     .timer_bx{
        // border: 1px solid rgb(5, 184, 49);
        background: #7ED3E0 ;
        display: flex;
        justify-content: center;
        padding: 1%;
        .timimg{
            text-align: center;
            display: flex;
            border: 3px solid #cf6223;
            background: #FFE56D;
            padding: 2% 3%;
            border-radius: 50px;
        }
     }   
    .answer_option_wrap{
        // border: 1px solid darkgoldenrod;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .answer_option{
            // border: 1px solid fuchsia;
            width: 300px;
            height: 400px;
            cursor: pointer;
            background-color: #dbdbdb;
            box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 12px;
            margin: 5% 0;
            padding: 1% ;
            border-radius: 20px;
            &:hover{
                background-color: rgb(243, 243, 243);
                transform: scale(1.1);
            }
                .answer_link{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
        }
    }
    .progress_bar_bx{
        // border: 1px solid navy;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
            .progress_container{
                border: 2px solid dimgrey;
                width: 540px;
                height: 30px;
                border-radius: 50px;
                position: relative;
                overflow: hidden;
                background: white;
                 span{
                     display: flex;
                     position: absolute;
                     left: 50%;
                     line-height: 30px;
                    //  border: 1px solid red;
                     font-weight: 600;
                    
                 }
                 .progress_bar{
                     position: absolute;
                     z-index: 1;
                     background: rgb(94, 213, 243);
                     width: 50px;
                     height: 30px;
                     border-radius: 50px;
                 }
            }
    }
}