@media screen and (max-width:768px){
    .mem_img_area{
        height: 300px !important;
    }
    .mem_con_detail{
        height: fit-content !important;
    }
    table{
        margin-top: 15px !important;
    }
    .mem_cla{
        text-align: center;
    }
}