.j-title-0{
    max-width:900px;
    width:100%;
    display: flex;
    // justify-content:left;
    font-size:19px;
    color: #66B3FF;
    margin-top:80px;
    margin:auto;
    text-align: center;
  }
  .bar
{
    display: block;
    background:#1B4D9F;
    color: white;
    height: 2em;
    line-height: 2em;
    text-align:left;
}
.bar-1{
    display: block;
    background:#1B4D9F;
    color: white;
    height: 2em;
    line-height: 2em;
    text-align:left;
}
.bar-2{
    display: block;
    background:#1B4D9F;
    color: white;
    height: 2em;
    line-height: 2em;
    text-align:left;
}
.bar-3{
    display: block;
    background:#1B4D9F;
    color: white;
    height: 2em;
    line-height: 2em;
    text-align:left;
}
.bar-4{
    display: block;
    background:#1B4D9F;
    color: white;
    height: 2em;
    line-height: 2em;
    text-align:left;
}