.first-box{
    max-width:1440px;
    width:100%;
    // border:1px solid red;
    display: flex;
    margin:auto;
    margin-top:250px;
}
.first-1{
    max-width:720px;
    width:100%;
    // border:1px solid red;
}
.first-2{
    max-width:720px;
    width:100%;
    // border:1px solid red;
}
.f-1{
    max-width:122px;
    width:100%;
    margin:auto;
    margin-top:50px;
    background-color:#BCEAFF;
}
.f-2{
    max-width:300px;
    height:400px;
    width:100%;
    overflow: hidden;
    margin:auto;
    margin-top:30px;
    border:5px solid #A0CADB;
    border-radius:25px;
    box-shadow:10px 10px 12px #9D9D9D;
}
.f-3{
    // border:1px soild red;  
}
.f-p-2{
    font-size:30px;
    margin-left:100px;
    margin-top:50px;    
}
.f-p-1{
    font-size:30px;
    font-weight:bold;
    font-family: Microsoft JhengHei;
    text-align: center;
    padding:5px;
}
.f-p-3{
    font-size:30px;
    font-weight:bold;
    font-family: Microsoft JhengHei;
    margin-left:100px;
    margin-top:35px;       
}
.f-p-4{
    font-size:20px;
    font-family: Microsoft JhengHei;
    margin-left:100px;
    margin-top:20px;
    line-height:1.8;   
}
.img-1{
    max-width:300px;
    height:400px;
    width:100%;
    // border:1px solid red;
}
//
.f-6{
    max-width:200px;
    width:100%;
    margin:auto;
    margin-top:50px;
    background-color:#BCEAFF;
}
.f-7{
    max-width:300px;
    height:400px;
    width:100%;
    overflow: hidden;
    margin:auto;
    margin-top:29px;
    border:5px solid #A0CADB;
    border-radius:25px;
    box-shadow:10px 10px 12px #9D9D9D;
}
.f-8{
    // border:1px soild red;  
}
.f-p-6{
    font-size:30px;
    margin-left:100px;
    margin-top:50px;    
}
.f-p-5{
    font-size:30px;
    font-weight:bold;
    font-family: Microsoft JhengHei;
    text-align: center;
    padding:5px;
}
.f-p-7{
    font-size:30px;
    font-weight:bold;
    font-family: Microsoft JhengHei;
    margin-left:177px;
    margin-top:35px;       
}
.f-p-8{
    font-size:20px;
    font-family: Microsoft JhengHei;
    margin-left:180px;
    margin-top:20px;
    line-height:1.8;   
}
.img-2{
    max-width:300px;
    height:400px;
    width:100%;
    // border:1px solid red;
}
.two-box{
    max-width:1440px;
    width:100%;
    margin:auto;
    margin-top:50px;
    display: flex;
    background-color:rgba(#FFFFFF,0.3);
}
.t-w-1{
    max-width:720px;
    width:100%;
    // border:1px soild red;
    // margin-left:105px;
    padding-left:105px; 
}
.t-w-3{
    max-width:720px;
    width:100%;
    // border:1px soild red;
    padding-left:182px; 
}
.t-p{
    margin-top:50px;
    font-size:30px;
    font-weight:bold;
    font-family: Microsoft JhengHei;
}
.t-w-2{
    max-width:500px;
    width:100%;
    margin:left;
    margin-left:26px;
    margin-top:30px;
    // text-align:left;
    // border:1px solid red;
}
.t-w-2 > ul > li{
    list-style-type:disc;
    color:#A0CADB;
    line-height:2;
    font-size:20px;
    
}
.t-w-2 > ul{
    display: inline-block;
}
.t-w-2 > ul > li > span{
    color:#494949;
}
//
.t-p-1{
    margin-top:50px;
    font-size:30px;
    font-weight:bold;
    font-family: Microsoft JhengHei;
}
.t-w-4{
    max-width:500px;
    width:100%;
    margin:left;
    margin-left:26px;
    margin-top:30px;
    // text-align:left;
    // border:1px solid red;
}
.t-w-4 > ul > li{
    list-style-type:disc;
    color:#A0CADB;
    line-height:2;
    font-size:20px;
    
}
.t-w-4 > ul{
    display: inline-block;
}
.t-w-4 > ul > li > span{
    color:#494949;
}
//
.J-div-3{
    max-width:900px;
    margin:auto;
    margin-top:50px;
    width:100%;
    height:300px;
    background-color:rgba(#FFFFFF,0.3);
    border-radius:25px;
    box-shadow:10px 10px 12px #9D9D9D;
}
.J-3{
    margin:auto;
}
.J-p-1{
    text-align: center;
    font-size:32px;
    padding-top:30px;
 }
 .J-p-2{
     max-width:229px;
     margin-top:60px;
     font-size:30px;
     color:#FFFFFF;
     background-color:#A0CADB;
     border-radius:20px;
     padding:5px;
 }
 .J-4{
    display: flex;
    justify-content:space-around;
}
.J-5{
    display: flex;
    justify-content:space-around;
}
.c-1{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:80px;
    background-color:rgba(#FFFFFF,0.7);
}
.c{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:80px;
    margin-bottom:80px;
    padding-left:30px;
    background-color:rgba(#FFFFFF,0.7);
}
.job_line-chart{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:80px;
    margin-bottom:80px;
    display:block;
}
.job_line-chart-1{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:80px;
    display:block;
}
