.job-p{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:50px;
    display: flex;
    justify-content:left;
    font-size:30px;
    color:#66B3FF;
    font-family: Microsoft JhengHei;
}