.job-class {
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }

.job-class-1{
    overflow: hidden;
    border:1px solid #BEBEBE;
}
.job-class-2{
    overflow: hidden;
    border:1px solid #BEBEBE;
}
.job-class-3{
    overflow: hidden;
    border:1px solid #BEBEBE;
}
.job-class-4{
    overflow: hidden;
    border:1px solid #BEBEBE;
}
.job-p4{
    font-size:20px;
    color:#8E8E8E;
    margin:auto;
    text-align:center;
    padding:5px;
    line-height:1.1;
}
.job-p5{
    font-size:18px;
    color:#8E8E8E;
    margin:auto;
    text-align: center;
    padding:5px;
}
.job-p6{
    font-size:18px;
    color:#8E8E8E;
    margin:auto;
    text-align:left;
    padding:5px;
    display: flex;
    justify-content: space-around;
}
.job-p7{
    font-size:10px;
    color:#8E8E8E;
    margin:auto;
}
.b1{
    background-color:#D2E9FF;
    height:40px;
    border-radius:50px;
    height:25px;
    font-size:18px;
}
.job_line-chart{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:80px;
    display:block;
}
.job_line-chart-1{
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top:80px;
    display:block;
}
.chartRadarDiv{
    max-width:600px;
    width:100%;
    height:600px;
    margin:auto;
    display:block;
}
.job-p8 {
    font-size: 20px;
    color: #8E8E8E;
    margin: auto;
    text-align: center;
    padding: 5px;
    line-height:1.1;
  }
  
  .job-p9 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    text-align: center;
    padding: 5px;
  }
  
  .job-p10 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    text-align: left;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
  }
  
  .job-p11 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    line-height:1.1;
  }
  
  .b2 {
    background-color: #D2E9FF;
    height: 40px;
    border-radius: 50px;
    height: 25px;
    font-size: 18px;
  }
  .job-p12 {
    font-size: 20px;
    color: #8E8E8E;
    margin: auto;
    text-align: center;
    padding: 5px;
    line-height:1.1;
  }
  
  .job-p13 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    text-align: center;
    padding: 5px;
  }
  
  .job-p14 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    text-align: left;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content:space-around;
  }
  
  .job-p15 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    line-height:1.1;
  }
  
  .b3 {
    background-color: #D2E9FF;
    height: 40px;
    border-radius: 50px;
    height: 25px;
    font-size: 18px;
  }
  .job-p16 {
    font-size: 20px;
    color: #8E8E8E;
    margin: auto;
    text-align: center;
    padding: 5px;
    line-height:1.1;
  }
  
  .job-p17 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    text-align: center;
    padding: 5px;
    margin-left:5px;
  }
  
  .job-p18 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    text-align: left;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .job-p19 {
    font-size: 18px;
    color: #8E8E8E;
    margin: auto;
    margin-left:3px;
    line-height:1.1;
  }
  
  .b4 {
    background-color: #D2E9FF;
    height: 40px;
    border-radius: 50px;
    height: 25px;
    font-size: 18px;
  }
  .T-advertising{
     max-width:320px;
     width:100%;
     height:320;
     border:1px solid red;
  }
  .i-1 {
      margin-right:5px;
      margin-top:10px;
      border-top:1px solid #0080FF;
    }
  .i-2{
    margin-bottom:0px;
  }
  .T-F-1{
    padding-top:20px;
    padding-left:15px;
    font-size:18px;
  }
  .T-p{
    padding-left:15px;
  }
  .T-b{
    padding-left:20px;
    padding-top:5px;
  }
  .T-F-2{
    padding-top:20px;
    padding-left:15px;
    font-size:18px;
  }
  .T-p1{
    padding-left:15px;
  }
  .T-b1{
    padding-left:20px;
    padding-top:5px;
  }
  .T-F-3{
    padding-top:20px;
    padding-left:15px;
    font-size:18px;
  }
  .T-p2{
    padding-left:15px;
  }
  .T-b2{
    padding-left:20px;
    padding-top:5px;
  }
  .T-end{
    max-width:1200px;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: center;
    margin-bottom:50px;
    font-size: 18px;
    color: #0080FF;
  }
  .j-p7{
    line-height:1.1;
  }
  .j-title-0{
    max-width:900px;
    width:100%;
    display: flex;
    // justify-content:left;
    font-size:19px;
    color: #66B3FF;
    margin-top:80px;
    margin:auto;
    text-align: center;
  }
  .job-p {
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    font-size: 30px;
    color: #66B3FF;
    font-family: Microsoft JhengHei;
  }
  .job-p1 {
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom:50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
    color: #66B3FF;
    font-family: Microsoft JhengHei;
  }
  
  
  