.Travel-sidebar1{
    max-width:200px;
    width:100%;
    border:1px solid #1B4D9F;
    line-height:3.5;
    text-align:center;
    font-size:18px;
    // letter-spacing:6px;
    font-family: Microsoft JhengHei;
    font-weight:bold;
    background-color:#FFFFFF;
    position: relative;
}
ul{
    margin-left:60px;
}