@import '../../_public_dontTouch/utils/variables';
$title: 30px;
$opacity: 0.8;
@mixin section {
    // border: 3px solid lightcoral;
    width: 100vw;
    // height: 80vh;
}

@mixin screen {
    display: flex;
    // border: 1px solid red;
    height: fit-content;
    @content
}

;
@mixin position($width, $position) {
    width: $width;
    position: $position;
    @content
}

;
@mixin stage($height, $position) {
    height: $height;
    width: 100px;
    // border: 1px solid #000;
    position: relative;
    top: $position;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($str, $count:1, $duration:2s, $function:ease-in) {
    animation: #{$str};
    animation-iteration-count: $count;
    animation-duration: $duration;
    animation-timing-function: $function;
    @content;
}

@include keyframes(firstStair) {
    from {
        padding-top: 15%;
    }
    to {
        padding-top: 0%;
    }
}

@include keyframes(secondStair) {
    from {
        padding-top: 25%;
    }
    to {
        padding-top: 0%;
    }
}

@include keyframes(thirdStair) {
    from {
        padding-top: 35%;
    }
    to {
        padding-top: 0%;
    }
}

@include keyframes(auditor) {
    from {
        top: 215px;
    }
    to {
        top: 125px;
    }
}

@include keyframes(teacher) {
    from {
        top: 215px;
    }
    to {
        top: 75px;
    }
}

@include keyframes(doctor) {
    from {
        top: 215px;
    }
    to {
        top: 20px;
    }
}

@include keyframes(spin) {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@include keyframes (pulse) {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@include keyframes (card) {
    0% {
        left: -30%;
        top: 120px;
        transform: rotate(8deg);
    }
    100% {
        left: 9%;
        top: 50px;
        transform: rotate(15deg);
    }
}

@include keyframes (cardBounce) {
    0% {
        transform: rotate(12deg);
    }
    33% {
        transform: rotate(-20deg);
    }
    66% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

div.header_wrap {
    position: fixed;
    // border: 1px solid #000;
    z-index: 1;
    background: transparent !important;
}

.fp-viewing-1 {
    .fp-tableCell {
        .auditor {
            @include animation(auditor)
        }
        .teacher {
            @include animation(teacher);
        }
        .doctor {
            @include animation(doctor);
        }
        .stages {
            .stageS {
                @include animation(firstStair);
            }
            .stageM {
                @include animation(secondStair);
            }
            .stageL {
                @include animation(thirdStair);
            }
        }
    }
}

.fp-viewing-4 {
    .card--animated {
        @include animation (card, 1, 3s, ease-in) {
            animation-fill-mode: forwards;
            animation-delay: 100s;
        }
        ;
        @include animation (cardBounce, 1, 1.5s, ease-in-out) {
            animation-fill-mode: forwards;
            // animation-delay: 50s;
        }
        ;
    }
}

.index {
    //第一屏
    .index_test {
        @include section;
        .firstScreen {
            @include screen {
                flex-wrap: wrap;
            }
            ;
            .index_test_text {
                // border: 1px solid #000;
                text-align: justify;
                height: fit-content;
                margin: auto 0;
                padding: 30px;
                h1 {
                    margin-bottom: $title;
                    text-align: center;
                }
                p {
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: 20px 0;
                    line-height: 30px;
                }
                .btn_primary {
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
            }
            @media screen and (max-width:767px) {
                .index_test_text {
                    // border: 1px solid #000;
                    z-index: 1;
                    margin-top: 300px;
                }
            }
            .index_test_img {
                height: fit-content;
                margin: auto 0;
                width: 700px;
                height: fit-content;
                // border: 1px solid red;
                .img {
                    // border: 1px solid green;
                    position: relative;
                    width: 100%;
                    // bottom: 400px;
                    // left: 350px;
                    span {
                        display: block;
                        position: absolute;
                        top: -530px;
                        left: 215px;
                        width: 40em;
                        height: 40em;
                        border-radius: 50%;
                        // border: 1px solid red;
                    }
                    .holland_small {
                        @include animation(pulse, infinite, 30s, linear);
                        &:hover {
                            animation-play-state: paused;
                        }
                        .circle {
                            border-radius: 50%;
                        }
                        .small {
                            width: 120px;
                            height: 120px;
                            position: absolute;
                            left: 250px;
                            top: -130px;
                            transform-origin: 50% 33em;
                            box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
                            cursor: pointer;
                            p {
                                transform: rotate(90deg);
                                // border: 1px solid red;
                                line-height: 100px;
                                text-align: center;
                            }
                        }
                        .real {
                            background-color: #79BBB5;
                            transform: rotateZ(180deg);
                            top: -250px;
                        }
                        .inv {
                            background-color: #A0CADB;
                            transform: rotateZ(120deg);
                            top: -200px;
                            left: 250px;
                        }
                        .art {
                            background: #CCC5E3;
                            transform: rotateZ(60deg);
                        }
                        .soc {
                            background: #F4C3C5;
                            transform: rotateZ(0deg);
                            top: -200px;
                            left: 250px;
                        }
                        .emp {
                            background: #E7995F;
                            transform: rotateZ(-60deg);
                        }
                        .con {
                            background: #F7EA92;
                            transform: rotateZ(-120deg);
                            top: -200px;
                            left: 250px;
                        }
                        .small.squire {
                            box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
                        }
                    }
                    @media screen and (max-width:1144px) {
                        .holland_small {
                            display: none;
                        }
                    }
                    .holland_large {
                        // border: 1px solid #000;
                    }
                    .large {
                        position: absolute;
                        background: #F6F3ED;
                        right: -350px;
                        top: -700px;
                        width: 800px;
                        height: 800px;
                        border-bottom-left-radius: 50%;
                        box-shadow: $card_shadow;
                        // transform: rotate(45deg);
                        // border: 1px solid #000;
                        .content {
                            // border: 1px solid #000;
                            text-align: center;
                            height: fit-content;
                            margin-top: 50%;
                            p {
                                // border: 1px solid #000;
                                margin-right: 10%;
                                margin-bottom: 10px;
                            }
                            img {
                                vertical-align: middle;
                                width: 300px;
                                margin-right: 10%;
                                // border: 1px solid red;
                            }
                            @media screen and (max-width:1144px) {
                                p {
                                    margin-right: 30%;
                                }
                                img {
                                    margin-left: 15%;
                                }
                            }
                            .radar {
                                // display: none;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width:576px) {
                .index_test_img {
                    .img {
                        .large {
                            .content {
                                // border: 1px solid #000;
                                margin: 0;
                                margin-top: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
    //第二屏
    .index_car {
        @include section;
        background-image: url(../../../img/index/index_2nd/2nd_bgYellow.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        .secondScreen {
            @include screen;
            .index_sal_img {
                // border: 1px solid blue;
                height: 545px;
                overflow: hidden;
                padding: 0;
                text-align: center;
                .auditor {
                    @include position(100px, relative) {
                        top: 125px;
                        right: 5px;
                        z-index: 1;
                    }
                }
                .teacher {
                    @include position(80px, relative) {
                        top: 75px;
                        z-index: 1;
                    }
                }
                .doctor {
                    @include position(100px, relative) {
                        top: 20px;
                        z-index: 1;
                    }
                }
                .stages {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    // border: 1px solid #000;
                    .stageS {
                        @include stage(30%, 110px);
                        .firstStage {
                            width: 100%;
                        }
                        .Stext {
                            position: relative;
                            bottom: 80px;
                            color: white;
                        }
                        .Stitle {
                            position: relative;
                            bottom: 50px;
                            color: white;
                        }
                    }
                    .stageM {
                        @include stage(65%, 55px);
                        .secondStage {
                            width: 100%;
                        }
                        .Mtext {
                            position: relative;
                            bottom: 130px;
                            color: white;
                        }
                        .Mtitle {
                            position: relative;
                            bottom: 50px;
                            color: white;
                        }
                    }
                    .stageL {
                        @include stage(100%, 0px);
                        .thirdStage {
                            width: 100%;
                        }
                        .Ltext {
                            position: relative;
                            bottom: 180px;
                            color: white;
                        }
                        .Ltitle {
                            position: relative;
                            bottom: 50px;
                            color: white;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                .index_sal_img {
                    position: absolute;
                    top: 130px;
                    height: 480px;
                    .auditor {
                        @include position(80px, relative) {
                            right: 20px;
                        }
                    }
                    .teacher {
                        @include position(60px, relative) {}
                    }
                    .doctor {
                        @include position(80px, relative) {
                            left: 10px;
                        }
                    }
                }
            }
            .index_sal_chart {
                // border: 1px solid #000;
                height: 500px;
                h1 {
                    margin-bottom: $title;
                }
                .chart {
                    margin-top: 150px;
                    margin-bottom: 80px;
                    .horizontal-bar-graph {
                        display: table;
                        width: 100%;
                    }
                    .horizontal-bar-graph-segment {
                        display: table-row;
                    }
                    .horizontal-bar-graph-label {
                        display: table-cell;
                        border-right: 1px solid silver;
                        text-align: right;
                        padding: 4px 10px 4px 0;
                        vertical-align: baseline;
                        white-space: nowrap;
                        font-size: 20px;
                    }
                    .horizontal-bar-graph-value {
                        display: table-cell;
                        padding: 3px 0;
                        vertical-align: baseline;
                        width: 100%;
                    }
                    .horizontal-bar-graph-value-bar {
                        background: silver;
                        -moz-box-sizing: padding-box;
                        -webkit-box-sizing: padding-box;
                        box-sizing: padding-box;
                        padding: 4px 4px 3px;
                        height: 40px;
                        text-align: right;
                        color: white;
                        overflow: visible;
                        display: inline-block;
                        white-space: nowrap;
                        -webkit-font-smoothing: antialiased;
                    }
                    .horizontal-bar-graph-segment:first-child .horizontal-bar-graph-label {
                        padding-top: 12px;
                    }
                    .horizontal-bar-graph-segment:first-child .horizontal-bar-graph-value {
                        padding-top: 11px;
                    }
                    .horizontal-bar-graph-segment:last-child .horizontal-bar-graph-label {
                        padding-bottom: 12px;
                    }
                    .horizontal-bar-graph-segment:last-child .horizontal-bar-graph-value {
                        padding-bottom: 11px;
                    }
                }
                .btn_second {
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                @media screen and (max-width: 768px) {
                    .chart {
                        display: none;
                    }
                    .btn_second {
                        margin-top: 450px;
                    }
                }
            }
        }
    }
    //第三屏
    .index_disc {
        @include section;
        background-image: url(../../../img/index/index_3rd/3rd_bgGreen.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        .thirdScreen {
            @include screen;
            .index_disc_text {
                h1 {
                    margin-bottom: $title;
                }
                .index_dia {
                    .message {
                        // border: 1px solid #000;
                        border-radius: 10px;
                        padding: 10px;
                        position: relative;
                        background-color: white;
                        margin-bottom: 40px;
                        // z-index: 2;
                        .meg_box {
                            border: 1px solid #000;
                            border-radius: 5px;
                            margin-bottom: 15px;
                            box-shadow: $card_shadow;
                            z-index: 2;
                            a {
                                width: 100%;
                                padding: 10px;
                                h5 {
                                    display: inline-block;
                                }
                                i {
                                    display: inline-block;
                                    float: right;
                                    margin-left: 10px;
                                }
                                hr {
                                    width: 98%;
                                    color: lightgrey;
                                }
                                p {
                                    font-size: 12px;
                                    color: rgb(42, 169, 219)
                                }
                            }
                        }
                        &::after {
                            content: "";
                            // border: 1px solid #000;
                            width: 120px;
                            height: 90px;
                            position: absolute;
                            top: 10px;
                            right: -100px;
                            // z-index: 1;
                        }
                    }
                    .btn_second {
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            .index_disc_img {
                .img {
                    width: 100%;
                    background-image: url(../../../img/index/index_3rd/3rd_smBlue.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    .dia_img {
                        margin-top: 30%;
                        width: 80%;
                    }
                }
            }
            @media screen and (max-width:767px) {
                .index_disc_img {
                    display: none;
                }
            }
        }
    }
    //第四屏
    .index_cour {
        @include section;
        background-image: url(../../../img/index/index_4th/upStair.png), url(../../../img/index/index_4th/4th_bg.png);
        background-size: 30%, cover;
        background-position: left, center;
        background-repeat: no-repeat, no-repeat;
        .forthScreen {
            // border: 1px solid #000;
            @include screen;
            .index_cour_img {
                // border: 1px solid #000;  
                // padding: 0;
                // .stair {
                //     // border: 1px solid #000;
                //     @include position(130%, absolute) {
                //         bottom: 0px;
                //         left: -200px;
                //     }
                //     ;
                // }
            }
            .index_cour_text {
                h1 {
                    margin-bottom: $title;
                }
                .pad {
                    .screen_bg {
                        background-color: #727171;
                        border-top-left-radius: 50px;
                        border-top-right-radius: 50px;
                        height: 430px;
                        padding: 30px;
                        box-shadow: $card_shadow;
                        .screen {
                            background-color: #fff;
                            height: 300px;
                            position: relative;
                            .screen_carousel {
                                .item {
                                    display: inline-block;
                                    border: 1px solid #ececec;
                                    height: fit-content;
                                    margin: 20px 0;
                                    padding: 0 10px;
                                    box-shadow: $card_shadow;
                                    img {
                                        width: 100%;
                                    }
                                    h5 {}
                                    p {
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        margin: 10px 0;
                                    }
                                }
                            }
                            .btn_second {
                                display: block;
                                margin: 0 auto;
                                // margin-top: 10px;
                                margin-bottom: 20px;
                                ;
                            }
                        }
                    }
                }
                .screen_bt {
                    background-color: #c9caca;
                    border-bottom-left-radius: 50px;
                    border-bottom-right-radius: 50px;
                    height: 50px;
                    box-shadow: $card_shadow;
                }
            }
        }
    }
    //第五屏
    .index_card {
        @include section;
        background-image: url(../../../img/index/index_5th/5th_bg.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        .fifthScreen {
            @include screen {
                // flex-wrap: wrap;
            }
            .index_card_img {
                .img {
                    position: relative;
                    height: 500px;
                    width: 100%;
                    margin: 0 auto;
                    // border: 1px solid #000;
                    h1 {
                        // border: 1px solid blue;
                        margin-top: 50px;
                        margin-bottom: 10px;
                    }
                    #line {
                        position: absolute;
                        left: 0;
                        top: 80px;
                        right: 0;
                        border-top: 4px solid #444444;
                        transform: skewY(-3.5deg);
                        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                    }
                    #cards {
                        position: relative;
                        z-index: 1;
                        // border: 1px solid red;
                        height: 350px;
                        //暫時
                        img {
                            margin-top: 40px;
                            width: 80%;
                            transform: rotate(-5deg);
                        }
                        //=====
                        .card {
                            width: 30%;
                            height: 250px;
                            position: absolute;
                            top: -30px;
                            .postCard {
                                width: 100%;
                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                                border-radius: 2px;
                            }
                            &::before {
                                // border: 1px solid red;
                                content: '';
                                background-image: url(../../../img/index/index_5th/clip.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 80px;
                                width: 20px;
                                display: block;
                                position: absolute;
                                bottom: 230px;
                                left: 150px;
                            }
                            &.card--animated {
                                position: absolute;
                                margin-top: 120px;
                                +.card {
                                    margin-left: 35%;
                                    margin-top: 95px;
                                }
                                +.card+.card {
                                    margin-left: 70%;
                                    margin-top: 70px;
                                }
                            }
                        }
                    }
                    .post_front {
                        @include position(200px, absolute) {
                            bottom: -250px;
                            left: 0px;
                        }
                    }
                    .post_back {
                        @include position(80px, absolute) {
                            bottom: 0px;
                            right: 0px;
                        }
                    }
                    @media screen and(max-width:992px) {
                        .post_front {
                            display: none;
                        }
                        .post_back {
                            display: none;
                        }
                    }
                }
            }
            @media screen and (max-width:767px) {
                .index_card_img {
                    display: none;
                }
            }
            .index_card_text {
                // border: 1px solid #000;
                margin-top: 15%;
                h1 {
                    display: none;
                }
                .postText {
                    // border: 1px solid #000;
                    line-height: 20px;
                    width: fit-content;
                    margin: 0 auto;
                    font-size: 18px;
                }
                .btn_second {
                    margin: 20px 0;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                .post_front {
                    @include position(200px, absolute) {
                        bottom: -100px;
                        left: 0px;
                    }
                }
                .middleCard {
                    display: none;
                }
                @media screen and (max-width:767px) {
                    h1 {
                        display: block;
                        width: fit-content;
                        margin: 0 auto;
                        // border: 1px solid #000;
                        margin-bottom: 50px;
                    }
                    .middleCard {
                        display: block;
                        width: 70%;
                        margin: 40px auto;
                        margin-bottom: 100px;
                    }
                }
                .post_back {
                    @include position(80px, absolute) {
                        bottom: 0px;
                        right: 0px;
                    }
                }
            }
            // .index_card_text {
            //     // border: 1px solid #000;
            //     position: relative;
            //     top: -80px;
            //     .postText {
            //         // border: 1px solid #000;
            //         line-height: 20px;
            //         width: fit-content;
            //         margin: 0 auto;
            //         font-size: 18px;
            //     }
            //     .btn_second {
            //         margin: 20px 0;
            //         margin-left: 50%;
            //         transform: translateX(-50%);
            //     }
            // }
        }
    }
}