@import '../../_public_dontTouch/utils/variables';
$title: 30px;


@mixin section {
    // border: 3px solid lightcoral;
    width: 100vw;
    // height: 80vh;
}

@mixin screen {
    display: flex;
    // border: 1px solid red;
    height: fit-content;
    @content

    
};
@mixin position($width, $position){
    width: $width;
    position: $position;
    @content
};

@mixin stage($height, $position) {
    height: $height;
    width: 100px;
    // border: 1px solid #000;
    position: relative;
    top: $position;
}
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($str, $count:1, $duration:2s, $function:ease-in) {
    animation: #{$str};
    animation-iteration-count: $count ;
    animation-duration: $duration;
    animation-timing-function: $function ; 
    @content;     
}

@include keyframes(firstStair){
    from{padding-top: 15%;}
    to{padding-top: 0%;}
    
}
@include keyframes(secondStair){
    from{padding-top: 25%;}
    to{padding-top: 0%;}
    
}
@include keyframes(thirdStair){
    from{padding-top: 35%;}
    to{padding-top: 0%;}
    
}
@include keyframes(auditor){
    from{top: 215px;}
    to{top: 125px;}
    
}
@include keyframes(teacher){
    from{top: 215px;}
    to{top: 75px;}
    
}
@include keyframes(doctor){
    from{top: 215px;}
    to{top: 20px;}
    
}

@include keyframes(spin){
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@include keyframes (pulse) {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@include keyframes (card) {
    0%   {
      left: -30%;
      top: 120px;
      transform: rotate(8deg);
    }
    100% {
      left: 9%;
      top: 50px;
      transform: rotate(15deg);
    }
}
  
@include keyframes (cardBounce) {
    0% {
      transform: rotate(12deg);
    }
    33%{
      transform: rotate(-20deg);
    }
    66%{
      transform: rotate(10deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }


div.header_wrap{
    position: fixed;
    // border: 1px solid #000;
    z-index: 1;
    background: transparent !important;
}

.index{
    .index_test{
        @include section;
        .firstScreen{
            @include screen{
                flex-wrap: wrap;
                
            };
            
            
            .index_test_text{
                // border: 1px solid #000;
                text-align: justify;
                height: fit-content;
                margin: auto 0;
                padding: 30px;
                h1{
                    margin-bottom: $title;
                    text-align: center;
                }
                p{
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: 20px 0;
                    line-height: 30px;
                }
                .btn_primary{
                    margin-left: 50%;
                    transform: translateX(-50%);
    
                }
            }
            .index_test_img{
                height: fit-content;
                margin: auto 0;
                .img{
                    border: 1px solid red;
                    position: absolute;
                    bottom: 400px;
                    left: 350px;

                    span {
                        display: block;
                        position: absolute;
                        top: calc(50% - 5em);
                        left: calc(50% - 5em);
                        width: 40em;
                        height: 40em;
                        // border: 1px solid red;
                    }
                      
                      
                    .holland_small{
                        @include animation(pulse, infinite, 20s, linear);
                        .circle {
                            border-radius: 50%;
                        }
                          
                        .squircle {
                            border-radius: 25%;
                        }
                          
                        
                        
                        .small {
                        position: absolute;
                        width: 10em;
                        height: 10em;
                        left: calc(50% - 5em);
                        top: calc(50% - 33em);
                        transform-origin: 38% 33em;
                        box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
                        }
                          
                        .one {
                        background-color: #79BBB5;
                        transform: rotateZ(288deg);
                        }
                        .two {
                        background-color: #A0CADB;
                        transform: rotateZ(230deg);
                        }
                        .three {
                       background: #ECECEC;
                        transform: rotateZ(173deg);
                        }
                        .four {
                        background: #F7EA92;
                        transform: rotateZ(116deg);
                        }
                        .five {
                        background: #F4C3C5;
                        transform: rotateZ(59deg);
                        }
                        .six {
                        background: #CCC5E3;
                        transform: rotateZ(0);
                        }
                        
                        .small.squircle {
                        box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
                        }
                    }
                      
                    .holland_large{
                        // border: 1px solid #000;
                        
                    } 
                    .large.squircle {
                        position: absolute;
                        background: #aaa;
                        left: calc(50% + 100px);
                        top: calc(50% - 80px);
                        width: 35em;
                        height: 35em;
                        border-radius: 25%;
                        // border: 1px solid #000;
                        
                        
                        &.one {
                            @include animation(spin, infinite, 30s, linear );
                                // border: 1px solid green;
                                // transform: rotateZ(45deg);
                                top: 10px;
                                left: 180px;

                            }
                        }
                        
                        .content {
                        text-align: center;
                        }
                    
                      
                      
                      
                        
                }
            }
            
        }
    }
    .index_car{
        @include section;
        background-image: url(../../../img/index/index_2nd/2nd_bgYellow.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;

        
        .secondScreen{
            @include screen;
            
            
            .index_sal_img{
                // border: 1px solid blue;
                height: 545px;
                overflow: hidden;
                padding: 0;
                text-align: center;
                
                .auditor{

                    @include position(100px, relative){
                        top: 125px;
                        right: 5px;
                        z-index: 1;
                    }
                    @include animation(auditor)
                }
                .teacher{
                    @include position(80px, relative){
                        top: 75px;
                        z-index: 1;
                    }
                    @include animation(teacher);

                    
                }
                .doctor{
                    @include position(100px, relative){
                        top: 20px;
                        z-index: 1;
    
                    }
                    @include animation(doctor);

                    
                }
                .stage{
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    // border: 1px solid #000;

                    .firstStage{
                        @include stage(30%, 110px);
                        @include animation(firstStair);
                    }
                    
                    .secondStage{
                        @include stage(65%, 55px);
                        @include animation(secondStair);
                        
                    }
                    .thirdStage{
                        @include stage(100%, 0px);
                        @include animation(thirdStair);

        
                    }
                }
    
            }
            .index_sal_chart{
                h1{
                    margin-bottom: $title;

                }
                .chart{
                    margin-top: 100px;
                    margin-bottom: 80px;
                    .horizontal-bar-graph{
                        display: table;
                        width: 100%;
                    }
                    .horizontal-bar-graph-segment {
                        display: table-row;
                    }
                      
                    .horizontal-bar-graph-label {
                        display: table-cell;
                        border-right: 1px solid silver;
                        text-align: right;
                        padding: 4px 10px 4px 0;
                        vertical-align: baseline;
                        white-space: nowrap;
                        font-size: 20px;
                    }
                      
                    .horizontal-bar-graph-value {
                        display: table-cell;
                        padding: 3px 0;
                        vertical-align: baseline;
                        width: 100%;
                    }
                      
                    .horizontal-bar-graph-value-bar {
                        background: silver;
                        -moz-box-sizing: padding-box;
                        -webkit-box-sizing: padding-box;
                        box-sizing: padding-box;
                        padding: 4px 4px 3px;
                        height: 40px;
                        text-align: right;
                        color: white;
                        overflow: visible;
                        display: inline-block;
                        white-space: nowrap;
                        -webkit-font-smoothing: antialiased;
                    }
                      
                    .horizontal-bar-graph-segment:first-child .horizontal-bar-graph-label {
                        padding-top: 12px;
                    }
                    .horizontal-bar-graph-segment:first-child .horizontal-bar-graph-value {
                        padding-top: 11px;
                    }
                      
                    .horizontal-bar-graph-segment:last-child .horizontal-bar-graph-label {
                        padding-bottom: 12px;
                    }
                    .horizontal-bar-graph-segment:last-child .horizontal-bar-graph-value {
                        padding-bottom: 11px;
                    }
                      
                }
                .btn_second{
                    margin-left:50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .index_disc{
        @include section;
        background-image: url(../../../img/index/index_3rd/3rd_bgGreen.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        
        .thirdScreen{
            @include screen;
            .index_disc_text{
                h1{
                    margin-bottom: $title;

                }
                .index_dia{
                    .message{
                        // border: 1px solid #000;
                        border-radius: 10px;
                        padding: 10px;
                        position: relative;
                        background-color: white;
                        margin-bottom: 40px;
                        z-index: 2;

                        .meg_box{
                            border: 1px solid #000;
                            border-radius: 5px;
                            margin-bottom: 15px;
                            box-shadow: $card_shadow;
                            z-index: 2;

                            
                            a{
                                width: 100%;
                                padding: 10px;
                                h5{}
                                hr{
                                    width:98%;
                                    color: lightgrey;
                                }
                                p{
                                    font-size: 12px;
                                    color: rgb(42, 169, 219)
                                }
                            }
                            
                        }
                        &::after {
                            content: "";
                            // border: 1px solid #000;
                            width: 120px;
                            height: 90px;
                            position: absolute;
                            top: 10px;
                            right: -100px;
                            // z-index: 1;
                            
                        }
                    }
                    .btn_second{}
                }
            }
            .index_disc_img{
                .img{
                    width:100%;
                    background-image: url(../../../img/index/index_3rd/3rd_smBlue.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    .dia_img{
                        margin-top: 30%;
                        width: 80%;

                    }
                }
            }
        }
    }
    .index_cour{
        @include section;
        background-image: url(../../../img/index/index_4th/4th_bg.png);
        background-size: cover;
        background-repeat: no-repeat;

        .index_cour_img{
            // border: 1px solid #000;
            width: fit-content;
            @include position(fit-content, absolute){
                bottom: 50px;
                left: 0px;
            
            };
            // position: relative;
            .stair{
                // border: 1px solid #000;
                width: 500px;
                // @include position(500px, absolute){
                //     bottom: 0px;
                //     left: 0px;

                // };
    
            }
          
        }
        .forthScreen{
            @include screen;
           


            .index_cour_text{
                h1{
                    margin-bottom: $title;

                }
                .pad{
                    .screen_bg{
                        background-color: #727171;
                        border-top-left-radius: 50px;
                        border-top-right-radius: 50px;
                        height: 380px;
                        padding: 30px;
                        .screen{
                            background-color: #fff;
                            height: 300px;
                            position: relative;

                            .screen_carousel{
                                .item{
                                    display: inline-block;
                                    border: 1px solid pink;
                                    height: 280px;
                                    margin: 20px 0;
                                    img{
                                        width: 100%;
                                    }
                                    h5{}
                                    p{
                                        overflow:hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                }
                            }
                            .btn_second{
                                display: block;
                                margin: 0 auto;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .screen_bt{
                    background-color: #c9caca;
                    border-bottom-left-radius: 50px;
                    border-bottom-right-radius: 50px;
                    height: 50px;
    
                    
                }
            }
        }
    }
    .index_card{
        @include section;
        background-image: url(../../../img/index/index_5th/5th_bg.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        .fifthScreen{
            @include screen{
                flex-wrap: wrap;
            }

            .index_card_img{
                .img{
                    position: relative;
                    height: 500px;
                    width: 1000px;
                    margin: 0 auto;
                    // border: 1px solid #000;
                    #line{
                        position: absolute;
                        left: 0;
                        top: 75px;
                        right: 0;
                        border-top: 4px solid #444444;
                        transform: skewY(-3.5deg);
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
                    }
                    #cards{
                        padding-top: 30px;
                        position: relative;
                        bottom: 50px;
                        
                        .card{
                            background-image: url(../../../img/index/index_5th/postCard.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 340px;
                            height: 240px;
                            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
                            border-radius: 2px;
                           
                        
                            &::before{
                                // border: 1px solid red;
                                content:'';
                                background-image: url(../../../img/index/index_5th/clip.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                height: 80px;
                                width: 20px;
                                display: block;
                                position: absolute;
                                bottom: 225px;
                                left: 150px;

                            }
                        
                            &.card--animated{
                                @include animation (card, 1,1.5s, ease-in ){
                                    animation-fill-mode: forwards;
                                } ;
                                @include animation (cardBounce, 1, 1.5s, ease-in-out){
                                    animation-fill-mode: forwards;
                                } ;
                                
                                position: absolute;
                                margin-top: 120px;
                            
                                + .card{
                                    margin-left: 35%;
                                    margin-top: 95px;
                                }
                                
                                + .card + .card{
                                    margin-left: 70%;
                                    margin-top: 70px;
                                }
                            }
                            
                        }
                    }
                    .post_front{
                        @include position(200px,relative){
                            top: 130px;
                            right: 150px;
                        }
                    }
                    .post_back{
                        @include position(80px,relative){
                            bottom: 50px;
                            left: 850px;
                        }
                    }
                    .postText{
                        // border: 1px solid #000;
                        line-height: 20px;
                        width: fit-content;
                        margin: 0 auto;
                        font-size: 18px;
    
                    }
                    .btn_second{
                        margin:20px 0;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        
                    }
                }
            }
            
        }
        
    }
}